body {
  background-color: rgba(215, 178, 250, 0.5);
}

.navbar a {
  color: rgb(98, 27, 165);
  z-index: 10;
}

.card-header {
  background-color: rgba(182, 139, 221, 0.6);
}

.link-overlay {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.link-overlay:hover .overlay {
  opacity: 1;
}

.modal-content {
  background-color: rgba(216, 184, 246, 0.9);
}

.card-link {
  font-size: 0.85em;
}

.card-link:hover {
  text-decoration: underline;
  cursor: pointer;
  color: green;
}

.login-head {
  font-weight: 700;
  font-size: 5vw;
  letter-spacing: 6px;
}

.login-sub-head {
  
  font-size: 1.5vw;
  letter-spacing: 1px;
}