name: Automatic Testing

on:
  pull_request:
    branches: [ development ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: npm install
      working-directory: ./app

    - name: Test
      run: npm test
      working-directory: ./app
